<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Epinova" value="http://nuget.epinova.no/nuget/" />
    <add key="Episerver" value="http://nuget.episerver.com/feed/packages.svc/" />
    <add key="Local Project Packages" value="./LocalNugetPackages" />
  </packageSources>
  <packageSourceCredentials>
    <Epinova>
      <add key="Username" value="ncg\nuget.vsts" />
      <add key="ClearTextPassword" value="AAYF!B5iUTtaYx8" />
    </Epinova>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>