<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Optimizely" value="https://nuget.optimizely.com/feed/packages.svc/" />
    <add key="Epinova" value="https://nuget.epinova.no/nuget/" />
  </packageSources>
  <packageSourceCredentials>
    <Epinova>
      <add key="Username" value="ncg\nuget.vsts" />
      <add key="ClearTextPassword" value="AAYF!B5iUTtaYx8" />
    </Epinova>
  </packageSourceCredentials>
</configuration>